@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Font1";
  src: url("/fonts/font-1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Font2";
  src: url("/fonts/font-2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Font0";
  src: url("/fonts/font-0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
